<a href="https://colab.research.google.com/github/taudeee/Data-analyst/blob/main/datacleaninpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**lets learn about data cleaning**

In [ ]:
#lets import file
import pandas as pd
df = pd.read_excel('/Customer Call List.xlsx')

df.head()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

**lets start with dropping duplicates**

In [ ]:
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

**lets remove columns **

In [ ]:
df = df.drop(columns = 'Not_Useful_column')

KeyError: ignored

let clean NAN

In [ ]:
 df['last_Name'] = df['Last_Name'].str.lstrip("/")
 df['last_Name'] = df['Last_Name'].str.lstrip("...")
 df['last_Name'] = df['Last_Name'].str.rstrip("_")
 df

 #above line of code can be done in this line of code

df['Last_name'] = df['Last_Name'].str.strip("123._/")
df

KeyError: ignored

In [ ]:
df = pd.read_excel('/Customer Call List.xlsx')
df
df = df.drop_duplicates() #this will drop duplicates
df
df = df.drop(columns ='Not_Useful_Column')
df
df['Last_Name'] = df['Last_Name'].str.strip('123./_')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [ ]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

lets deal with phone number

In [ ]:
df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]','')
df

<ipython-input-47-a8eaa71f8241>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]','')

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,Na,N/a,N/a,Yes
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N

In [ ]:
df['Phone_Number'].apply(lambda x:str(x))
df
df['Phone_Number'].apply(lambda x: x[0:3] + ' ' + x[3:6] + ' ' + [6:10])

SyntaxError: ignored

In [ ]:
#df['Phone_Number'].apply(lambda x:str(x))
df['Phone_Number'].apply(lambda x: x[0:3]+ ' ' + x[3:6] + ' ' +x[6:10])

TypeError: ignored

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,Na,N/a,N/a,Yes
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N

In [ ]:
#lets look address
df[['Street_address', 'State', 'Zip_code']]=df["Address"].str.split(',',2, expand=True)
df

<ipython-input-66-23cd66307157>:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['Street_address', 'State', 'Zip_code']]=df["Address"].str.split(',',2, expand=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_address,State,Zip_code
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,93 West Main Street,None,None
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,98 Clue Drive,None,None
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,None
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,Na,N/a,N/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None

In [ ]:
df = df.drop(columns = "Address")

KeyError: ignored

In [ ]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_address,State,Zip_code
0,1001,Frodo,Baggins,1235455421,Yes,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,No,Yes,93 West Main Street,None,None
2,1003,Walter,White,NaN,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,Y,No,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,Yes,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,NaN,No,No,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,N,No,98 Clue Drive,None,None
8,1009,Gandalf,NaN,Na,Yes,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,Yes,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,NaN,Yes,No,612 Shire Lane,Shire,None
11,1012,Harry,Potter,NaN,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,Yes,N,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,Yes,No,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,N,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,No,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,Yes,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,NaN,Y,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,Na,N/a,Yes,N/a,None,None
19,1020,Anakin,Skywalker,8766783469,Yes,N,910 Tatooine Road,Tatooine,None

lets learn about replacing

In [ ]:
df['Paying Customer'].str.replace('Yes','Y')
df['Paying Customer'].str.replace('No', 'N')

0     Yes
1       N
2       N
3     Yes
4       Y
5     Yes
6       N
7       N
8     Yes
9     Yes
10    Yes
11      Y
12    Yes
13    Yes
14      N
15      N
16    Yes
17      Y
18    N/a
19    Yes
Name: Paying Customer, dtype: object

In [ ]:
df = df.replace('N/a', '')
df = df.replace('NaN', '')

In [ ]:
df.fillna('')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_address,State,Zip_code
0,1001,Frodo,Baggins,1235455421,Yes,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,No,Yes,93 West Main Street,None,None
2,1003,Walter,White,NaN,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,Y,No,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,Yes,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,NaN,No,No,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,N,No,98 Clue Drive,None,None
8,1009,Gandalf,NaN,Na,Yes,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,Yes,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,NaN,Yes,No,612 Shire Lane,Shire,None
11,1012,Harry,Potter,NaN,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,Yes,N,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,Yes,No,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,N,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,No,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,Yes,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,NaN,Y,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,Na,,Yes,,None,None
19,1020,Anakin,Skywalker,8766783469,Yes,N,910 Tatooine Road,Tatooine,None

In [ ]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_address,State,Zip_code
0,1001,Frodo,Baggins,1235455421,Yes,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,No,Yes,93 West Main Street,None,None
2,1003,Walter,White,NaN,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,Y,No,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,Yes,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,NaN,No,No,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,N,No,98 Clue Drive,None,None
8,1009,Gandalf,NaN,Na,Yes,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,Yes,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,NaN,Yes,No,612 Shire Lane,Shire,None
11,1012,Harry,Potter,NaN,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,Yes,N,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,Yes,No,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,N,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,No,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,Yes,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,NaN,Y,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,Na,,Yes,,None,None
19,1020,Anakin,Skywalker,8766783469,Yes,N,910 Tatooine Road,Tatooine,None

In [ ]:
for x in df.index:
  if df.loc[x, "Do_Not_Contact"] == "Y":
    df.drop(x, inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_address,State,Zip_code
0,1001,Frodo,Baggins,1235455421,Yes,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,No,Yes,93 West Main Street,None,None
2,1003,Walter,White,NaN,N,NaN,298 Drugs Driveway,None,None
4,1005,Jon,Snow,8766783469,Y,No,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,Yes,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,NaN,No,No,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,N,No,98 Clue Drive,None,None
8,1009,Gandalf,NaN,Na,Yes,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,Yes,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,NaN,Yes,No,612 Shire Lane,Shire,None
11,1012,Harry,Potter,NaN,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,Yes,N,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,Yes,No,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,N,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,No,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,Yes,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,NaN,Y,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,Na,,Yes,,None,None
19,1020,Anakin,Skywalker,8766783469,Yes,N,910 Tatooine Road,Tatooine,None

In [ ]:
import pandas as pd
df = pd.read_csv('/content/Customer Call List.csv')
df.head()
df.tail()
#df.groupby('columnname').mean().sort_values(by="")
df.columns
df2 = df.transpose()
df2
df.info()
df.dtypes
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         21 non-null     int64
 1   First_Name         21 non-null     object
 2   Last_Name          20 non-null     object
 3   Phone_Number       19 non-null     object
 4   Address            21 non-null     object
 5   Paying Customer    21 non-null     object
 6   Do_Not_Contact     17 non-null     object
 7   Not_Useful_Column  21 non-null     bool
 8   Unnamed: 8         0 non-null      float64
 9   Unnamed: 9         0 non-null      float64
dtypes: bool(1), float64(2), int64(1), object(6)
memory usage: 1.6+ KB

CustomerID            0
First_Name            0
Last_Name             1
Phone_Number          2
Address               0
Paying Customer       0
Do_Not_Contact        4
Not_Useful_Column     0
Unnamed: 8           21
Unnamed: 9           21
dtype: int64

**lets start with removing columns**

In [ ]:
df
#duplicates
#in last_number we have unwanted string
#phone number are not standard format
#address let seperate them
#unwanted columns
#and manymore

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Unnamed: 8,Unnamed: 9
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True,NaN,NaN
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False,NaN,NaN
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True,NaN,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,NaN,NaN
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True,NaN,NaN
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True,NaN,NaN
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False,NaN,NaN
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False,NaN,NaN
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False,NaN,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True,NaN,NaN
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True,NaN,NaN
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True,NaN,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False,NaN,NaN
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False,NaN,NaN
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False,NaN,NaN
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False,NaN,NaN
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False,NaN,NaN
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True,NaN,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True,NaN,NaN
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,NaN,NaN
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,NaN,NaN

**lets start with removing duplicates**

In [ ]:
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Unnamed: 8,Unnamed: 9
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True,NaN,NaN
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False,NaN,NaN
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True,NaN,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,NaN,NaN
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True,NaN,NaN
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True,NaN,NaN
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False,NaN,NaN
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False,NaN,NaN
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False,NaN,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True,NaN,NaN
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True,NaN,NaN
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True,NaN,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False,NaN,NaN
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False,NaN,NaN
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False,NaN,NaN
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False,NaN,NaN
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False,NaN,NaN
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True,NaN,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True,NaN,NaN
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,NaN,NaN

**lets remove columns**

In [ ]:
df = df.drop(columns = "Not_Useful_Column")
df

KeyError: ignored

In [ ]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Unnamed: 8,Unnamed: 9
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,NaN,NaN
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,NaN,NaN
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,NaN,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,NaN,NaN
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,NaN,NaN
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,NaN,NaN
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,NaN,NaN
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,NaN,NaN
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,NaN,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,NaN,NaN
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,NaN,NaN
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,NaN,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,NaN,NaN
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,NaN,NaN
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,NaN,NaN
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,NaN,NaN
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,NaN,NaN
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,NaN,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,NaN,NaN
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,NaN,NaN

**lets clean the unwanted things
in the number**

In [ ]:
df['Last_Name'].str.strip() #it change white space
df['Last_Name'].str.lstrip("...") #it removed the ... from left side
df['Last_Name'].str.rstrip("_")
df['Last_Name'].str.lstrip("/")

0         Baggins
1           Nadir
2           White
3         Schrute
4            Snow
5         Swanson
6          Winger
7          Holmes
8             NaN
9          Parker
10         Gamgee
11      ...Potter
12         Draper
13          Knope
14    Flenderson_
15        Weasley
16          Scott
17           Kent
18         Braton
19      Skywalker
Name: Last_Name, dtype: object

we want to change it just for last_name
we can do it by following **bold text**

In [ ]:
df
df["Last_Name"] = df["Last_Name"].str.lstrip("/")
df["Last_Name"] = df["Last_Name"].str.lstrip("...")
df["Last_Name"] = df["Last_Name"].str.rstrip("_")
df
#the above can be done in following steps
#df["Last_Name"] = df["Last_Name"].str.strip("123._/")

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Unnamed: 8,Unnamed: 9
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,NaN,NaN
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,NaN,NaN
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,NaN,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,NaN,NaN
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,NaN,NaN
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,NaN,NaN
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,NaN,NaN
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,NaN,NaN
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,NaN,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,NaN,NaN
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,NaN,NaN
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,NaN,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,NaN,NaN
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,NaN,NaN
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,NaN,NaN
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,NaN,NaN
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,NaN,NaN
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,NaN,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,NaN,NaN
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,NaN,NaN

**lets clean the number**

In [ ]:
df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]','')
df

<ipython-input-36-a8eaa71f8241>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]','')

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Unnamed: 8,Unnamed: 9
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,NaN,NaN
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,NaN,NaN
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,NaN,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,NaN,NaN
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,NaN,NaN
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,NaN,NaN
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,NaN,NaN
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,NaN,NaN
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN,NaN,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,NaN,NaN
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,NaN,NaN
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,NaN,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,NaN,NaN
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,NaN,NaN
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,NaN,NaN
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,NaN,NaN
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No,NaN,NaN
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,NaN,NaN
18,1019,Creed,Braton,Na,N/a,N/a,Yes,NaN,NaN
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,NaN,NaN

In [ ]:
df["Phone_Number"].apply(lambda x: x[0-3]+ '-' + [3-6]+ '-' + [6-9])

TypeError: ignored

In [ ]:
#in the above code
#we have string and float
#lets make them same data types

In [ ]:
df["Phone_Number"] = df["Phone_Number"].apply(str)
df
df["Phone_Number"].apply(lambda x: str(x))
df["Phone_Number"].apply(lambda x: x[0-3]+ '-' + [3-6]+ '-' + [6-9])

TypeError: ignored

In [ ]:
df
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: str(x))
df
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: x[0:3]+'-'+ [3:6]+ '-'+[6:10])

SyntaxError: ignored

In [ ]:
df["Phone_Number"] = df["Phone_Number"].replace('Na--','')
df["Phone_Number"] = df["Phone_Number"].replace('nan--','')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Unnamed: 8,Unnamed: 9
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,NaN,NaN
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,NaN,NaN
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,NaN,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,NaN,NaN
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,NaN,NaN
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,NaN,NaN
6,1007,Jeff,Winger,nan,1209 South Street,No,No,NaN,NaN
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,NaN,NaN
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN,NaN,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,NaN,NaN
10,1011,Samwise,Gamgee,nan,"612 Shire Lane, Shire",Yes,No,NaN,NaN
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,NaN,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,NaN,NaN
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,NaN,NaN
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,NaN,NaN
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,NaN,NaN
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No,NaN,NaN
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,NaN,NaN
18,1019,Creed,Braton,Na,N/a,N/a,Yes,NaN,NaN
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,NaN,NaN

lets change the address into different columns

In [ ]:
#lets look address
df[['Street_address', 'State', 'Zip_code']]=df["Address"].str.split(',',2, expand=True)
df

<ipython-input-61-23cd66307157>:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['Street_address', 'State', 'Zip_code']]=df["Address"].str.split(',',2, expand=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Unnamed: 8,Unnamed: 9,Street_address,State,Zip_code
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,NaN,NaN,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,NaN,NaN,93 West Main Street,None,None
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,NaN,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,NaN,NaN,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,NaN,NaN,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,NaN,NaN,768 City Parkway,None,None
6,1007,Jeff,Winger,nan,1209 South Street,No,No,NaN,NaN,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,NaN,NaN,98 Clue Drive,None,None
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN,NaN,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,NaN,NaN,25th Main Street,New York,None
10,1011,Samwise,Gamgee,nan,"612 Shire Lane, Shire",Yes,No,NaN,NaN,612 Shire Lane,Shire,None
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,NaN,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,NaN,NaN,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,NaN,NaN,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,NaN,NaN,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,NaN,NaN,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No,NaN,NaN,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,NaN,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,Na,N/a,N/a,Yes,NaN,NaN,N/a,None,None
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,NaN,NaN,910 Tatooine Road,Tatooine,None

**lets delete address**

In [ ]:
df = df.drop(columns = "Address")
df

KeyError: ignored

In [ ]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Unnamed: 8,Unnamed: 9,Street_address,State,Zip_code
0,1001,Frodo,Baggins,1235455421,Yes,No,NaN,NaN,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,No,Yes,NaN,NaN,93 West Main Street,None,None
2,1003,Walter,White,7066950392,N,NaN,NaN,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,Yes,Y,NaN,NaN,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,Y,No,NaN,NaN,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,Yes,Yes,NaN,NaN,768 City Parkway,None,None
6,1007,Jeff,Winger,nan,No,No,NaN,NaN,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,N,No,NaN,NaN,98 Clue Drive,None,None
8,1009,Gandalf,NaN,Na,Yes,NaN,NaN,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,Yes,No,NaN,NaN,25th Main Street,New York,None
10,1011,Samwise,Gamgee,nan,Yes,No,NaN,NaN,612 Shire Lane,Shire,None
11,1012,Harry,Potter,7066950392,Y,NaN,NaN,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,Yes,N,NaN,NaN,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,Yes,No,NaN,NaN,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,N,No,NaN,NaN,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,No,N,NaN,NaN,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,Yes,No,NaN,NaN,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,7066950392,Y,NaN,NaN,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,Na,N/a,Yes,NaN,NaN,N/a,None,None
19,1020,Anakin,Skywalker,8766783469,Yes,N,NaN,NaN,910 Tatooine Road,Tatooine,None

In [ ]:
df["Paying Customer"] = df["Paying Customer"].str.replace('Yes', 'Y')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Unnamed: 8,Unnamed: 9,Street_address,State,Zip_code
0,1001,Frodo,Baggins,1235455421,Y,No,NaN,NaN,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,No,Yes,NaN,NaN,93 West Main Street,None,None
2,1003,Walter,White,7066950392,N,NaN,NaN,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,Y,Y,NaN,NaN,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,Y,No,NaN,NaN,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,Y,Yes,NaN,NaN,768 City Parkway,None,None
6,1007,Jeff,Winger,nan,No,No,NaN,NaN,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,N,No,NaN,NaN,98 Clue Drive,None,None
8,1009,Gandalf,NaN,Na,Y,NaN,NaN,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,Y,No,NaN,NaN,25th Main Street,New York,None
10,1011,Samwise,Gamgee,nan,Y,No,NaN,NaN,612 Shire Lane,Shire,None
11,1012,Harry,Potter,7066950392,Y,NaN,NaN,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,Y,N,NaN,NaN,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,Y,No,NaN,NaN,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,N,No,NaN,NaN,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,No,N,NaN,NaN,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,Y,No,NaN,NaN,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,7066950392,Y,NaN,NaN,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,Na,N/a,Yes,NaN,NaN,N/a,None,None
19,1020,Anakin,Skywalker,8766783469,Y,N,NaN,NaN,910 Tatooine Road,Tatooine,None

In [ ]:
df["Paying Customer"] = df["Paying Customer"].str.replace('No', 'N')

In [ ]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Unnamed: 8,Unnamed: 9,Street_address,State,Zip_code
0,1001,Frodo,Baggins,1235455421,Y,No,NaN,NaN,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,N,Yes,NaN,NaN,93 West Main Street,None,None
2,1003,Walter,White,7066950392,N,NaN,NaN,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,Y,Y,NaN,NaN,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,Y,No,NaN,NaN,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,Y,Yes,NaN,NaN,768 City Parkway,None,None
6,1007,Jeff,Winger,nan,N,No,NaN,NaN,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,N,No,NaN,NaN,98 Clue Drive,None,None
8,1009,Gandalf,NaN,Na,Y,NaN,NaN,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,Y,No,NaN,NaN,25th Main Street,New York,None
10,1011,Samwise,Gamgee,nan,Y,No,NaN,NaN,612 Shire Lane,Shire,None
11,1012,Harry,Potter,7066950392,Y,NaN,NaN,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,Y,N,NaN,NaN,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,Y,No,NaN,NaN,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,N,No,NaN,NaN,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,N,N,NaN,NaN,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,Y,No,NaN,NaN,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,7066950392,Y,NaN,NaN,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,Na,N/a,Yes,NaN,NaN,N/a,None,None
19,1020,Anakin,Skywalker,8766783469,Y,N,NaN,NaN,910 Tatooine Road,Tatooine,None

In [ ]:
df = df.replace('N/a','')
df
df = df.replace('Nan', '')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Unnamed: 8,Unnamed: 9,Street_address,State,Zip_code
0,1001,Frodo,Baggins,1235455421,Y,No,NaN,NaN,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,N,Yes,NaN,NaN,93 West Main Street,None,None
2,1003,Walter,White,7066950392,N,NaN,NaN,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,Y,Y,NaN,NaN,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,Y,No,NaN,NaN,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,Y,Yes,NaN,NaN,768 City Parkway,None,None
6,1007,Jeff,Winger,nan,N,No,NaN,NaN,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,N,No,NaN,NaN,98 Clue Drive,None,None
8,1009,Gandalf,NaN,Na,Y,NaN,NaN,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,Y,No,NaN,NaN,25th Main Street,New York,None
10,1011,Samwise,Gamgee,nan,Y,No,NaN,NaN,612 Shire Lane,Shire,None
11,1012,Harry,Potter,7066950392,Y,NaN,NaN,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,Y,N,NaN,NaN,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,Y,No,NaN,NaN,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,N,No,NaN,NaN,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,N,N,NaN,NaN,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,Y,No,NaN,NaN,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,7066950392,Y,NaN,NaN,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,Na,,Yes,NaN,NaN,,None,None
19,1020,Anakin,Skywalker,8766783469,Y,N,NaN,NaN,910 Tatooine Road,Tatooine,None

lets fill

In [ ]:
df = df.fillna('')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Unnamed: 8,Unnamed: 9,Street_address,State,Zip_code
0,1001,Frodo,Baggins,1235455421,Y,No,,,123 Shire Lane,Shire,
1,1002,Abed,Nadir,1236439775,N,Yes,,,93 West Main Street,,
2,1003,Walter,White,7066950392,N,,,,298 Drugs Driveway,,
3,1004,Dwight,Schrute,1235432345,Y,Y,,,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,Y,No,,,123 Dragons Road,,
5,1006,Ron,Swanson,3047622467,Y,Yes,,,768 City Parkway,,
6,1007,Jeff,Winger,nan,N,No,,,1209 South Street,,
7,1008,Sherlock,Holmes,8766783469,N,No,,,98 Clue Drive,,
8,1009,Gandalf,,Na,Y,,,,123 Middle Earth,,
9,1010,Peter,Parker,1235455421,Y,No,,,25th Main Street,New York,
10,1011,Samwise,Gamgee,nan,Y,No,,,612 Shire Lane,Shire,
11,1012,Harry,Potter,7066950392,Y,,,,2394 Hogwarts Avenue,,
12,1013,Don,Draper,1235432345,Y,N,,,2039 Main Street,,
13,1014,Leslie,Knope,8766783469,Y,No,,,343 City Parkway,,
14,1015,Toby,Flenderson,3047622467,N,No,,,214 HR Avenue,,
15,1016,Ron,Weasley,1235455421,N,N,,,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,1236439775,Y,No,,,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,7066950392,Y,,,,3498 Super Lane,,
18,1019,Creed,Braton,Na,,Yes,,,,,
19,1020,Anakin,Skywalker,8766783469,Y,N,,,910 Tatooine Road,Tatooine,

In [ ]:
df["Do_Not_Contact"] = df["Do_Not_Contact"].replace('No', 'N')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Unnamed: 8,Unnamed: 9,Street_address,State,Zip_code
0,1001,Frodo,Baggins,1235455421,Y,N,,,123 Shire Lane,Shire,
1,1002,Abed,Nadir,1236439775,N,Yes,,,93 West Main Street,,
2,1003,Walter,White,7066950392,N,,,,298 Drugs Driveway,,
3,1004,Dwight,Schrute,1235432345,Y,Y,,,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,Y,N,,,123 Dragons Road,,
5,1006,Ron,Swanson,3047622467,Y,Yes,,,768 City Parkway,,
6,1007,Jeff,Winger,nan,N,N,,,1209 South Street,,
7,1008,Sherlock,Holmes,8766783469,N,N,,,98 Clue Drive,,
8,1009,Gandalf,,Na,Y,,,,123 Middle Earth,,
9,1010,Peter,Parker,1235455421,Y,N,,,25th Main Street,New York,
10,1011,Samwise,Gamgee,nan,Y,N,,,612 Shire Lane,Shire,
11,1012,Harry,Potter,7066950392,Y,,,,2394 Hogwarts Avenue,,
12,1013,Don,Draper,1235432345,Y,N,,,2039 Main Street,,
13,1014,Leslie,Knope,8766783469,Y,N,,,343 City Parkway,,
14,1015,Toby,Flenderson,3047622467,N,N,,,214 HR Avenue,,
15,1016,Ron,Weasley,1235455421,N,N,,,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,1236439775,Y,N,,,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,7066950392,Y,,,,3498 Super Lane,,
18,1019,Creed,Braton,Na,,Yes,,,,,
19,1020,Anakin,Skywalker,8766783469,Y,N,,,910 Tatooine Road,Tatooine,

In [ ]:
df["Do_Not_Contact"] = df["Do_Not_Contact"].replace('Yes', 'Y')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Unnamed: 8,Unnamed: 9,Street_address,State,Zip_code
0,1001,Frodo,Baggins,1235455421,Y,N,,,123 Shire Lane,Shire,
1,1002,Abed,Nadir,1236439775,N,Y,,,93 West Main Street,,
2,1003,Walter,White,7066950392,N,,,,298 Drugs Driveway,,
3,1004,Dwight,Schrute,1235432345,Y,Y,,,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,Y,N,,,123 Dragons Road,,
5,1006,Ron,Swanson,3047622467,Y,Y,,,768 City Parkway,,
6,1007,Jeff,Winger,nan,N,N,,,1209 South Street,,
7,1008,Sherlock,Holmes,8766783469,N,N,,,98 Clue Drive,,
8,1009,Gandalf,,Na,Y,,,,123 Middle Earth,,
9,1010,Peter,Parker,1235455421,Y,N,,,25th Main Street,New York,
10,1011,Samwise,Gamgee,nan,Y,N,,,612 Shire Lane,Shire,
11,1012,Harry,Potter,7066950392,Y,,,,2394 Hogwarts Avenue,,
12,1013,Don,Draper,1235432345,Y,N,,,2039 Main Street,,
13,1014,Leslie,Knope,8766783469,Y,N,,,343 City Parkway,,
14,1015,Toby,Flenderson,3047622467,N,N,,,214 HR Avenue,,
15,1016,Ron,Weasley,1235455421,N,N,,,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,1236439775,Y,N,,,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,7066950392,Y,,,,3498 Super Lane,,
18,1019,Creed,Braton,Na,,Y,,,,,
19,1020,Anakin,Skywalker,8766783469,Y,N,,,910 Tatooine Road,Tatooine,

In [ ]:
for x in df.index:
  if df.loc[x, "Do_Not_Contact"] == "Y":
    df.drop(x, inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Unnamed: 8,Unnamed: 9,Street_address,State,Zip_code
0,1001,Frodo,Baggins,1235455421,Y,N,,,123 Shire Lane,Shire,
2,1003,Walter,White,7066950392,N,,,,298 Drugs Driveway,,
4,1005,Jon,Snow,8766783469,Y,N,,,123 Dragons Road,,
6,1007,Jeff,Winger,nan,N,N,,,1209 South Street,,
7,1008,Sherlock,Holmes,8766783469,N,N,,,98 Clue Drive,,
8,1009,Gandalf,,Na,Y,,,,123 Middle Earth,,
9,1010,Peter,Parker,1235455421,Y,N,,,25th Main Street,New York,
10,1011,Samwise,Gamgee,nan,Y,N,,,612 Shire Lane,Shire,
11,1012,Harry,Potter,7066950392,Y,,,,2394 Hogwarts Avenue,,
12,1013,Don,Draper,1235432345,Y,N,,,2039 Main Street,,
13,1014,Leslie,Knope,8766783469,Y,N,,,343 City Parkway,,
14,1015,Toby,Flenderson,3047622467,N,N,,,214 HR Avenue,,
15,1016,Ron,Weasley,1235455421,N,N,,,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,1236439775,Y,N,,,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,7066950392,Y,,,,3498 Super Lane,,
19,1020,Anakin,Skywalker,8766783469,Y,N,,,910 Tatooine Road,Tatooine,

In [ ]:
df["Do_Not_Contact"] = df["Do_Not_Contact"].replace('', 'N')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Unnamed: 8,Unnamed: 9,Street_address,State,Zip_code
0,1001,Frodo,Baggins,1235455421,Y,N,,,123 Shire Lane,Shire,
2,1003,Walter,White,7066950392,N,N,,,298 Drugs Driveway,,
4,1005,Jon,Snow,8766783469,Y,N,,,123 Dragons Road,,
6,1007,Jeff,Winger,nan,N,N,,,1209 South Street,,
7,1008,Sherlock,Holmes,8766783469,N,N,,,98 Clue Drive,,
8,1009,Gandalf,,Na,Y,N,,,123 Middle Earth,,
9,1010,Peter,Parker,1235455421,Y,N,,,25th Main Street,New York,
10,1011,Samwise,Gamgee,nan,Y,N,,,612 Shire Lane,Shire,
11,1012,Harry,Potter,7066950392,Y,N,,,2394 Hogwarts Avenue,,
12,1013,Don,Draper,1235432345,Y,N,,,2039 Main Street,,
13,1014,Leslie,Knope,8766783469,Y,N,,,343 City Parkway,,
14,1015,Toby,Flenderson,3047622467,N,N,,,214 HR Avenue,,
15,1016,Ron,Weasley,1235455421,N,N,,,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,1236439775,Y,N,,,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,7066950392,Y,N,,,3498 Super Lane,,
19,1020,Anakin,Skywalker,8766783469,Y,N,,,910 Tatooine Road,Tatooine,

In [ ]:
 df["Phone_Number"] = df["Phone_Number"].replace['nan', 'Y']
 df

TypeError: ignored

In [ ]:
df.reset_index(drops=True)

TypeError: ignored

In [ ]:
df.dropna(subset=["Phone_Number"], inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Unnamed: 8,Unnamed: 9,Street_address,State,Zip_code
0,1001,Frodo,Baggins,1235455421,Y,N,,,123 Shire Lane,Shire,
2,1003,Walter,White,7066950392,N,N,,,298 Drugs Driveway,,
4,1005,Jon,Snow,8766783469,Y,N,,,123 Dragons Road,,
6,1007,Jeff,Winger,nan,N,N,,,1209 South Street,,
7,1008,Sherlock,Holmes,8766783469,N,N,,,98 Clue Drive,,
8,1009,Gandalf,,Na,Y,N,,,123 Middle Earth,,
9,1010,Peter,Parker,1235455421,Y,N,,,25th Main Street,New York,
10,1011,Samwise,Gamgee,nan,Y,N,,,612 Shire Lane,Shire,
11,1012,Harry,Potter,7066950392,Y,N,,,2394 Hogwarts Avenue,,
12,1013,Don,Draper,1235432345,Y,N,,,2039 Main Street,,
13,1014,Leslie,Knope,8766783469,Y,N,,,343 City Parkway,,
14,1015,Toby,Flenderson,3047622467,N,N,,,214 HR Avenue,,
15,1016,Ron,Weasley,1235455421,N,N,,,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,1236439775,Y,N,,,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,7066950392,Y,N,,,3498 Super Lane,,
19,1020,Anakin,Skywalker,8766783469,Y,N,,,910 Tatooine Road,Tatooine,