In [3]:
import pandas as pd

In [4]:
from matplotlib import pyplot as plt

In [5]:
pokemon = pd.read_csv("pokemon_data.csv")
#pokemon_xlsv = pd.read_excel("pokemon_data.xlsv") #to import excel file

In [6]:
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [7]:
pokemon.Name #readig columnn

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [8]:
#to view minimum data

In [9]:
pokemon.head(3)
pokemon.head(2)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False

In [10]:
pokemon.tail(4)
pokemon.tail(2)#Last two

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

Reading headers in pandas

In [11]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [12]:
pokemon.Name

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

pokemon.Name[0:5]

In [13]:
print(pokemon[["Name", "Type 1", "Type 2"]])
pokemon[['Name', 'Type 1', 'HP']]

                      Name   Type 1  Type 2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire     NaN
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

#reading each rows

In [14]:
print(pokemon.head(5))
pokemon.iloc[3,6]

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

123

In [15]:
print(pokemon.iloc[0]) #iloc function helps us to get specific rows
pokemon.iloc[1]

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [16]:
print(pokemon.iloc[4])

#                      4
Name          Charmander
Type 1              Fire
Type 2               NaN
HP                    39
Attack                52
Defense               43
Sp. Atk               60
Sp. Def               50
Speed                 65
Generation             1
Legendary          False
Name: 4, dtype: object

In [17]:
print(pokemon.iloc[5,3])

nan

In [18]:
#for index, row in pokemon.iterrows():
    #print(index, row['Name'])

In [19]:
pokemon.loc[pokemon["Name"] == "Charmander"] #.loc used to find specific row from a dataset

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [20]:
#pokemon.loc[pokemon["Type 1"] == "Fire"]
#pokemon.loc[pokemon['Name'] == "Volcanion"]
pokemon.loc[pokemon["Type 2"] == "Grass"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
51,46,Paras,Bug,Grass,35,70,55,45,55,25,1,False
52,47,Parasect,Bug,Grass,60,95,80,60,80,30,1,False
271,251,Celebi,Psychic,Grass,100,100,100,100,100,100,2,False
293,270,Lotad,Water,Grass,40,30,30,40,50,30,3,False
294,271,Lombre,Water,Grass,60,50,50,60,70,50,3,False
295,272,Ludicolo,Water,Grass,80,70,70,90,100,70,3,False
377,345,Lileep,Rock,Grass,66,41,77,61,87,23,3,False
378,346,Cradily,Rock,Grass,86,81,97,81,107,43,3,False
458,413,WormadamPlant Cloak,Bug,Grass,60,59,85,79,105,36,4,False
536,479,RotomMow Rotom,Electric,Grass,50,65,107,105,107,86,4,False
600,540,Sewaddle,Bug,Grass,45,53,70,40,60,42,5,False
601,541,Swadloon,Bug,Grass,55,63,90,50,80,42,5,False
602,542,Leavanny,Bug,Grass,75,103,80,70,80,92,5,False
646,585,Deerling,Normal,Grass,60,60,50,40,50,75,5,False
647,586,Sawsbuck,Normal,Grass,80,100,70,60,70,95,5,False
778,708,Phantump,Ghost,Grass,43,70,48,50,60,38,6,False
779,709,Trevenant,Ghost,Grass,85,110,76,65,82,56,6,False
780,710,PumpkabooAverage Size,Ghost,Grass,49,66,70,44,55,51,6,False
781,710,PumpkabooSmall Size,Ghost,Grass,44,66,70,44,55,56,6,False
782,710,PumpkabooLarge Size,Ghost,Grass,54,66,70,44,55,46,6,False
783,710,PumpkabooSuper Size,Ghost,Grass,59,66,70,44,55,41,6,False
784,711,GourgeistAverage Size,Ghost,Grass,65,90,122,58,75,84,6,False
785,711,GourgeistSmall Size,Ghost,Grass,55,85,122,58,75,99,6,False
786,711,GourgeistLarge Size,Ghost,Grass,75,95,122,58,75,69,6,False
787,711,GourgeistSuper Size,Ghost,Grass,85,100,122,58,75,54,6,False

Sorting and describin data

In [21]:
pokemon.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [22]:
#pokemon.sort_values('Name', ascending = False)
pokemon.sort_values('Type 1', ascending = False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
371,339,Barboach,Water,Ground,50,48,43,46,41,60,3,False
97,90,Shellder,Water,NaN,30,65,100,45,25,40,1,False
240,222,Corsola,Water,Rock,55,55,85,65,85,35,2,False
403,368,Gorebyss,Water,NaN,55,84,105,114,75,52,3,False
93,86,Seel,Water,NaN,65,45,55,45,70,45,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
54,49,Venomoth,Bug,Poison,70,65,60,90,75,90,1,False
208,193,Yanma,Bug,Flying,65,65,45,75,45,95,2,False
182,168,Ariados,Bug,Poison,70,90,70,60,60,40,2,False
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False
179,165,Ledyba,Bug,Flying,40,20,30,40,80,55,2,False

In [23]:
pokemon.sort_values(['Type 1', 'HP'], ascending = [0, 1]) #sorting values in different column, the first values in ascending while the next one is in descending order

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
97,90,Shellder,Water,NaN,30,65,100,45,25,40,1,False
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False

Making changes to the data

In [24]:
pokemon.tail(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [25]:
pokemon['total'] = pokemon['HP'] + pokemon['Attack'] + pokemon['Defense'] + pokemon['Sp. Atk'] + pokemon['Sp. Def']
cols = list(pokemon.columns)
pokemon = pokemon[cols[0:5] + [cols[-1]] + cols[5:12]]
pokemon

,#,Name,Type 1,Type 2,HP,total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,273,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,345,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,445,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,545,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,244,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,550,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,590,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,530,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,600,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,530,110,120,130,90,70,6,True

In [26]:
pokemon.head(2)

,#,Name,Type 1,Type 2,HP,total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,273,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,345,62,63,80,80,60,1,False

# To Drop the column

In [27]:
#pokemon = pokemon.drop(columns=["total"])

In [28]:
pokemon.head(1)

,#,Name,Type 1,Type 2,HP,total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,273,49,49,65,65,45,1,False

In [29]:
#pokemon['total'] = pokemon.iloc[:, 4:10].sum(axis=1) #another way to add column in data

In [30]:
pokemon = pokemon.drop(columns=['total'])

In [31]:
pokemon.head(1)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

# Saving our new data

In [32]:
#pokemon.to_csv("modified", index=False) #here index=fasle helps to remove the index in csv files

In [33]:
#pokemon.to_excel("data.xlsx", index=False)

# Filtering the data

In [34]:
pokemon.loc[pokemon['Attack'] == 49]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
166,152,Chikorita,Grass,NaN,45,49,65,49,65,45,2,False
506,456,Finneon,Water,NaN,49,49,56,49,61,66,4,False

In [35]:
pokemon.loc[(pokemon['Type 1']=='Grass') | (pokemon['Type 2'] == 'Poision')] #| is or sign in jupiter
new_pokemon = pokemon.loc[(pokemon['Type 1']=='Grass') | (pokemon['Type 2'] == 'Poision')]
new_pokemon #above data gives the new filtered dataset and can be saved using the above mentioned method
new_pokemon.to_csv("filtered.csv", index=False) #saved new dataset

In [36]:
new_pokemon = new_pokemon.reset_index(drop=True)

In [37]:
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [38]:
pokemon.loc[pokemon['Name'].str.contains('Mega')] #.str.contains helps to filter the data based on text(words)
pokemon.loc[pokemon['Name'].str.contains('Hoopa')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True

TO filter the dataset by text

In [39]:
pokemon.loc[~pokemon['Name'].str.contains('Mega')] #this cords helps to filter the data which has word mega. The '~' helps us to achieve that

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Regex filtering

In [40]:
import re
pokemon.loc[pokemon['Type 1'].str.contains('fire|grass, regex=True')] #the code doesnt give any data due to error in capitalization

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [41]:
pokemon.loc[pokemon['Type 1'].str.contains('fire|grass', regex=True, flags=re.I)] #Here flags=re.I helps to remove ignore the capitalization

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [42]:
pokemon.loc[pokemon['Type 1'].str.contains('fire|grass', regex=True, flags=re.I)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [43]:
pokemon.loc[pokemon['Type 1'].str.contains('poision|water', regex=True, flags=re.I)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
724,656,Froakie,Water,NaN,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,54,63,52,83,56,97,6,False
726,658,Greninja,Water,Dark,72,95,67,103,71,122,6,False
762,692,Clauncher,Water,NaN,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,71,73,88,120,89,59,6,False

To get dataset thats contains cetain words then we can use re

In [44]:
import re
#pokemon.loc[pokemon['Name'].str.contains('pi'[a-z])] #It gives all the name that has pi, if we use "Pi" then we will get Pi
pokemon.loc[pokemon['Name'].str.contains('^Pi[a-z]*', regex=True, flags=re.I)] 

import re
pokemon.loc[pokemon['Name'].str.contains('mega[a-z]*', regex=True, flags=re.I)]

pokemon.loc[pokemon['Type 1'].str.contains('Gra[a-z]*', regex=True, flags=re.I)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

# condition changes

In [45]:
#lets changes the type 1 values set fire into flamer

In [46]:
pokemon.loc[pokemon['Type 1'] == 'Fire', 'Type 1'] = 'flamer'
pokemon.loc[pokemon['Type 1'] == 'flamer', 'Type 1'] = 'flame'

In [47]:
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,flame,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,flame,Water,80,110,120,130,90,70,6,True

In [55]:
pokemon.loc[pokemon['Type 1'] == 'Flame', 'Type 1'] = 'Fire'
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Type
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,NaN
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,NaN
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,NaN
4,4,Charmander,flame,NaN,39,52,43,60,50,65,1,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,NaN
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,NaN
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,NaN
799,721,Hitesh,flame,Water,80,110,120,130,90,70,6,True,Hitesh

In [59]:
pokemon.loc[pokemon['Type 1'] == 'Flame', 'Legendary'] = 'True'

In [58]:
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Type
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,NaN
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,NaN
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,NaN
4,4,Charmander,flame,NaN,39,52,43,60,50,65,1,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,NaN
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,NaN
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,NaN
799,721,Hitesh,flame,Water,80,110,120,130,90,70,6,True,Hitesh

In [62]:
#pokemon.loc[pokemon['HP'] > 50, ['Attack', 'Defence']] = 'Fire them' #this is the way to change two parameter at time

In [65]:
pokemon.loc[pokemon['Type 1'] == 'Grass', ['HP', 'Attack']]= 'solid'

In [66]:
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Type,Defence
0,1,Bulbasaur,Grass,Poison,solid,solid,49,65,65,45,1,False,NaN,NaN
1,2,Ivysaur,Grass,Poison,solid,solid,63,80,80,60,1,False,NaN,Fire them
2,3,Venusaur,Grass,Poison,solid,solid,83,100,100,80,1,False,NaN,Fire them
3,3,VenusaurMega Venusaur,Grass,Poison,solid,solid,123,122,120,80,1,False,NaN,Fire them
4,4,Charmander,flame,NaN,39,52,43,60,50,65,1,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,NaN,NaN
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,NaN,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,80,Fire them,60,150,130,70,6,True,NaN,Fire them
798,720,HoopaHoopa Unbound,Psychic,Dark,80,Fire them,60,170,130,80,6,True,NaN,Fire them
799,721,Hitesh,flame,Water,80,Fire them,120,130,90,70,6,True,Hitesh,Fire them

In [67]:
pokemon.loc[pokemon['Name'] == 'Ivysaur', ['Type 1', 'Type 2']] = ['Posion', 'Grass']

In [68]:
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Type,Defence
0,1,Bulbasaur,Grass,Poison,solid,solid,49,65,65,45,1,False,NaN,NaN
1,2,Ivysaur,Posion,Grass,solid,solid,63,80,80,60,1,False,NaN,Fire them
2,3,Venusaur,Grass,Poison,solid,solid,83,100,100,80,1,False,NaN,Fire them
3,3,VenusaurMega Venusaur,Grass,Poison,solid,solid,123,122,120,80,1,False,NaN,Fire them
4,4,Charmander,flame,NaN,39,52,43,60,50,65,1,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,NaN,NaN
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,NaN,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,80,Fire them,60,150,130,70,6,True,NaN,Fire them
798,720,HoopaHoopa Unbound,Psychic,Dark,80,Fire them,60,170,130,80,6,True,NaN,Fire them
799,721,Hitesh,flame,Water,80,Fire them,120,130,90,70,6,True,Hitesh,Fire them

In [71]:
pokemon = pd.read_csv("modified_csv")

In [72]:
pokemon

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
0,0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,273
1,1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,345
2,2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,445
3,3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,545
4,4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,550
796,796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,590
797,797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,530
798,798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,600
799,799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,530

# Aggregrate statistics("Groupby") (sum, mean and count)

In [73]:
pokemon = pd.read_csv("modified")

In [96]:
#pokemon.groupby(['Type 1']).mean().sort_values('Speed', ascending = False)
#pokemon.groupby(['Type 1']).sum()
pokemon.groupby(['Type 1']).count() #this give all the data

,#,Name,Type 2,HP,total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112

# if you want to see only type 1 count then

In [101]:
pokemon['count'] = 1
pokemon.groupby(['Type 1', 'Type 2']).count()

                  #  Name  HP  total  Attack  Defense  Sp. Atk  Sp. Def  \
Type 1 Type 2
Bug    Electric   2     2   2      2       2        2        2        2
       Fighting   2     2   2      2       2        2        2        2
       Fire       2     2   2      2       2        2        2        2
       Flying    14    14  14     14      14       14       14       14
       Ghost      1     1   1      1       1        1        1        1
...              ..   ...  ..    ...     ...      ...      ...      ...
Water  Ice        3     3   3      3       3        3        3        3
       Poison     3     3   3      3       3        3        3        3
       Psychic    5     5   5      5       5        5        5        5
       Rock       4     4   4      4       4        4        4        4
       Steel      1     1   1      1       1        1        1        1

                 Speed  Generation  Legendary  count
Type 1 Type 2
Bug    Electric      2           2          2      2
       Fighting      2           2          2      2
       Fire          2           2          2      2
       Flying       14          14         14     14
       Ghost         1           1          1      1
...                ...         ...        ...    ...
Water  Ice           3           3          3      3
       Poison        3           3          3      3
       Psychic       5           5          5      5
       Rock          4           4          4      4
       Steel         1           1          1      1

[136 rows x 12 columns]

# working with large amount of data

In [111]:
for pokemon in pd.read_csv('modified_csv', chunksize=10)
    print("CHUNK DF")
    print(pokemon)

SyntaxError: invalid syntax (1156285950.py, line 1)